<% content_tag_for :ul, user do %>
  <li>Nombre: <%= user.name %></li>
  <li>Email: <%= user.email %></li>
  <li>URL: <%= user.url %></li>
  <li>Region: <%= user.region %></li>
	
	<% if is_authorized?(user) %>
		<li><%= link_to "Edit", edit_user_path(user) %></li>
		<li><%= link_to "Delete", user_path(user), :method => :delete %></li>
	<% end %>

<br/>
<% end %>