<% content_tag_for :ul, user do %>
  <li>Nombre: <%= user.name %></li>
  <li>URL: <%= user.url %></li>
  <li>Region: <%= user.region %></li>
	
	<% if is_authorized?(user) %>
		<li><%= link_to "Editar", edit_user_path(user) %></li>
		<li><%= link_to "Borrar", user_path(user), :method => :delete, :confirm => "¿Seguro que te quieres borrar de la lista?" %></li>
	<% end %>

<br/>
<% end %>