<h2>Tus Datos</h2>

<% form_for @user do |f| -%>
  <div>
		<%= f.label :name, "Nombre" %>
		<%= f.text_field :name, :id => :name %>
	</div>
	
	<div>
		<%= f.label :url, "Url" %>
		<%= f.text_field :url, :id => :url %>
	</div>
	
	<div>
		<%= f.label :region, "Region" %>
		<%= f.select :region_id, Region.all.collect {|region| [region.name, region.id]} %>
	</div>
	
	<div>
		<%= f.submit "Enviar", :class => "button" %>
	</div>
	
<% end -%>